.buttons {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__count {
    margin: 0;
    margin-bottom: 10px;
    font-size: 40px;
    color: brown;
    font-style: italic;
  }

  &__container {
    display: flex;
    gap: 10px;
  }

  &__button {
    padding: 15px;
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border-color: wheat;
    transition: color 0.2s;
    box-shadow: 4px 4px 2px 3px rgb(184, 184, 184);

    &:hover {
      color: wheat;
    }

    &:active {
      transform: translate(5px, 5px);
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    }
  }
}

.users {
  &__list {
    margin-top: 50px;
    font-size: 20px;
  }

  &__item {
    color: darkblue;
    text-align: center;
    font-style: italic;
    border: 1px solid teal;
    padding: 5px 10px;
    margin-bottom: 5px;
  }
}